<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>Stupid Coach</h1>
<div class="container">
  <form action="answer" class="form">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
</body>
</html>
